<div class="card">
    <div class="card-body">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="T" name="sexo" value="T" (change)="radioChange()"
            class="custom-control-input" [(ngModel)]="rbSeleccionado">
            <label class="custom-control-label" for="T" >
              Todos({{todos}})</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="F" name="sexo" value="F" (change)="radioChange()"
            class="custom-control-input" [(ngModel)]="rbSeleccionado">
            <label class="custom-control-label" for="F">
              Mujeres({{mujeres}})
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="M" name="sexo" value="M" (change)="radioChange()"
            class="custom-control-input" [(ngModel)]="rbSeleccionado">
            <label class="custom-control-label" for="M">
              Hombres({{hombres}})
            </label>
          </div>
    </div>
</div>
