<div class="container mt-3">
    <app-count-empleados 
      [todos]="getTodos()"
      [mujeres]="getMujeres()"
      [hombres]="getHombres()"
      (countRBChange)="empleadoChangeRB($event)"

    ></app-count-empleados>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th >Legajo</th>
                    <th >Nombre</th>
                    <th >Apellido</th>
                    <th >Sexo</th>
                    <th >Salario</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let e of empleados">
                        <tr *ngIf="rbSeleccionado==='T' || rbSeleccionado == e.sexo">
                          <th>{{e.legajo}}</th>
                          <td>{{e.nombre}}</td>
                          <td>{{e.apellido}}</td>
                          <td>{{e.sexo}}</td>
                          <td>{{e.salario | currency}}</td>
                        </tr>
                    </ng-container>
                  
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
